<h1>Login</h1>
<form class="login-form">
  <div>
    <label for="user-login">User Name:</label>
    <input id="userName" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password" />
  </div>
  <div>
    <button type="submit">Login</button>
    <a href="/signup"><button type="button" class="button is-danger">Sign Up</button></a>
  </div>
</form>
</body>

<script src="js/login.js"></script>