<form class="signup-form">
    <div class="form-group">
        <label for="username-input">User Name</label>
        <input type="text" class="form-control" id="username-signup" name="username" />
    </div>
    <div class="form-group">
        <label for="password-input">Password</label>
        <input type="password" class="form-control" id="password-signup" name="password" />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

<script src="/js/signUp.js"></script>