<section>
    <a href="/dashboard" class="title-name"> Return to dashboard</a>
  <h2 class="title">New Post</h2>

  <form class="new-post-form">
    <div>
        <label for="post-title">Title:</label>
        <input class="input" type="text" id="post-title" name="post-title">
    </div>
    <div>
        <label for="post-content">Content:</label>
        <input class="input" type="text" id="post-content" name="post-content">
    </div>
    <button type="submit" class="btn btn-primary">Create Post</button>
  </form>
</section>

<script src="/js/singlePost.js"></script>



